<section class="parent" id="service">
  <div class="div1">
    <div>
      <h3>Medicina y Consultas</h3>
      <p>
        La Medicina Interna es la especialidad médica hospitalaria que engloba el diagnóstico,
        tratamiento y el seguimiento <br />
        de enfermedades complejas, generalmente crónicas. El Veterinario Internista es un
        especialista al que recurren los <br />
        veterinarios generalistas de atención primaria y el resto de los especialistas cuando
        necesitan ayuda en la gestión <br />de casos complejos.
      </p>
    </div>
    <img src="../../../../consulta.jpg" alt="Consulta-Medicina" />
  </div>

  <div class="div2">
    <div>
      <h3>Urgencias</h3>
      <p>
        Disponible 24/7 con veterinarios y auxiliares altamente cualificados. Colabora con otras
        especialidades y aplica un sistema de triaje para priorizar casos críticos de manera rápida
        y eficaz.
      </p>
    </div>
    <img src="../../../../urgencia.jpg" alt="Urgencia" />
  </div>

  <div class="div3">
    <div>
      <h3>cuidados</h3>
      <p>
        Amplia sala de cuidados perfectamente acondicionada para todos los animales y además de la
        sala general, El servicio de Urgencias está disponible telefónica y presencialmente 24 horas
        al día los 365 días del año.
      </p>
    </div>
    <img src="../../../../cuidados.jpg" alt="cuidados" />
  </div>

  <div class="div4">
    <div>
      <h3>vacunas</h3>
      <p>
        Nuestras mascotas necesitan unas primeras vacunas dependiendo de si es perros, gatos o conejos para
        estar protegido y prevenir algunas enfermedades. Estar atento al calendario de vacunación de
        tu perro o gato es la mejor fórmula para evitar enfermedades en tu mascota, además del
        sufrimiento que estas significan para perros, gatos y otros animales de compañía. <br> El tipo de
        vacunas y la frecuencia puede variar según hábitos y zona geográfica en la que se viva. La
        vacunación en mascotas, tanto en gatos como en perros, tiene la misma importancia que las
        vacunas en los niños. Esto es debido a que en mascotas de corta edad, las vacunas protegen
        el sistema inmune, el cual es inmaduro y, por lo tanto, su respuesta debe optimizarse con
        varias dosis.
      </p>
    </div>
    <img src="../../../../vacuna.jpg" alt="vacunas" />
  </div>

  <div class="div5">
    <div>
      <h3>Peluqueria Canina</h3>
      <p>
        No hay perro que salga de nuestro centro sin lucir al menos un arreglo higiénico y buena
        ración de mimos. Realizamos un arreglo con retoque superficial del lagrimal, despejando zona
        higiénica e incluyendo el *aseo esencial. *Baño completo, alta cosmética profesional
        indicada para cada tipo de pelaje, corte de uñas, limpieza de oídos y vaciado de glándulas.
      </p>
    </div>
    <img src="../../../../Baño.jpg" alt="Baño-limpieza" />
  </div>
</section>
