<section class="about-main" id="about">
    <section class="about-descripcion">
        <h2>Quiene Somos</h2>

        <p>Clínica Veterinaria de Animales Exóticos en Madrid, abierta las 24 horas todos los días del año. Especialistas en Conejos y otros animales exóticos.
            Contamos con todos los servicios y especialidades gracias a un amplio equipo humano que estar siempre dispuesto a escuchar cada caso e intentar dar con la solución al problema para que todos los perros, gatos y animales exóticos puedan gozar de la mejor calidad de vida.
        </p>

    </section>

    <section class="about-img">
        <img src="../../../../veterinaria.jpg" alt="">
    </section>
</section>
