<section class="footer" id="footer">
  <section class="footer-logo">
    <img src="../../../../logoSienaVet.png" alt="" />
  </section>

  <section class="footer-descripcion">
    <div>
      <p>Enlaces</p>
      <ul>
        <li><a href="#about">Sobre Nosotros</a></li>
        <li><a href="#service">Servicio</a></li>
        <li><a href="#contact">Contactanos</a></li>
        <li>Login</li>
      </ul>
    </div>

    <div>
      <p>Contacto</p>
      <ul>
        <li>telefono</li>
        <li>email</li>
        <li>direccion</li>
      </ul>
    </div>
  </section>
</section>
