<aside class="sidebar">
      <div class="sidebar-header">
        <h2>SiennaVet</h2>
      </div>
      <nav class="sidebar-nav">
        <ul>
          <li>
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="sidebar-link"
            >
              <span class="icon">🏠</span>
              <span class="link-text">Dashboard</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/citas"
              routerLinkActive="active"
              class="sidebar-link"
            >
              <span class="icon">📅</span>
              <span class="link-text">Citas</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/vets"
              routerLinkActive="active"
              class="sidebar-link"
            >
              <span class="icon">👨‍⚕️</span>
              <span class="link-text">Veterinarios</span>
            </a>
          </li>
           <li>
            <a
              routerLink="/dashboard/clientes"
              routerLinkActive="active"
              class="sidebar-link"
            >
              <span class="icon">👨‍💼</span>
              <span class="link-text">Cliente</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/razas"
              routerLinkActive="active"
              class="sidebar-link"
            >
              <span class="icon">🐕</span>
              <span class="link-text">Razas</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/mensajes"
              routerLinkActive="active"
              class="sidebar-link"
            >
              <span class="icon">📩</span>
              <span class="link-text">Mensajes</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="logout-container">
        <button class="logout-button" (click)="logout()">
          <span class="icon">🚪</span>
          <span class="link-text">Cerrar Sesión</span>
        </button>
      </div>
    </aside>
